@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
* 

body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 15px;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;

    /*font: normal 16px 'Roboto', sans-serif;*/
    /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif*/

}
.avatar {   
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
}

.info {
    display: flex;
    margin-bottom: 20 px;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h1 {
 margin-bottom: 10px;

}

.info p {
    color: #868986;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;
    /*text-transform: uppercase;
    letter-spacing: normal;*/
}

.container{
max-width: 750px;
margin: auto;
padding-top: 30px;
}

.bg-yellow{
    background: #fff9dc;
}

.bg-green{
    background: #e5ffe7;
}

.bg-red{
    background: #ffe5e5;
}


.card{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.list

{
padding: 0 20px;

}

.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: red;
}

.contact h2 {
    text-align: center;
}

.form-group label{
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input,
.form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20 px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20 px;
}

.row > .form-group:first-child {
    margin-right: 0 px;
}

.btn {
    background: #111;
    padding: 15px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

/* .box{
position: fixed;
top: 45px;
right: 45px;

 width: 50px;
 height: 50px;
 background: black;
}


.position {
position: relative;
 border: 4px solid black;
 margin-top: 40px;
 padding: 20px;
 height: 400px; */
}
/* .social{
background: green;
padding: 15px 30px;
margin: 30px;

border: 5px solid red;
border-top-width: 15px;
border-right-color: blue;
}

.box-model > div{
    float: left;
    background: black;
    height: 200px;
    border: 4px solid red ;
    width: 25%;
    box-sizing: border-box;

} */